// -----------------------------------------------------------------------------
// This file contains styles that are specific to the article page.
// -----------------------------------------------------------------------------

// Article Body
h2 span { display: block; font-size: 1.64rem; }
.page__article .layout__page-content {
  .news-item__date { text-align: left; padding-left: 2rem;}
}

.article__title {
	text-transform: none;
	letter-spacing: -.05em;
	text-align: left;
	padding-left: 2rem;
}

.gc.gc__article-body {
	left: calc(100% / 3);
	@include respond-to('medium') { left: 25%; width: 75%; }
	@include respond-to('small') { left: 0; width: 100%; }
	@include respond-to('huge') { width: 64%; }

	.gc__content {
		padding-right: 5rem;
    text-align: justify;
    hyphens: auto;

		@include respond-to('medium') { padding: 1rem 2rem; };
	}

  h2, h3, h4 {
    padding-top: 1.64rem;
    line-height: 1em;

    & + p { padding-top: .36em;}
  }

  ol {
    counter-reset: item;
    margin: 0;
    max-width: 900px;
    padding: 1rem 0 0 1.64rem;

    li {
      display: block;
      hyphens: auto;
      padding: .64em 0 0 .36em;
      position: relative;
      text-align: justify;

      &:first-child {margin-top: 0;}

      &:before {
        color: $cloud;
        background-color: base($smoke-palette);
        border-radius: 100px;
        display: block;
        content: counter(item);
        font-family: $header-font;
        font-size: $header-small;
        font-style: italic;
        font-weight: 900;
        counter-increment: item;
        position: absolute;
        top: .5rem;
        padding-top: .1rem;
        right: calc(100% + .1rem);
        width: 1.74rem;
        height: 1.64rem;
        line-height: 1.64rem;
        text-align: center;
      }
      &:after {
        display: block;
        content: '';
        width: 3rem;
        height: 2px;
        background-color: light($smoke-palette);
        margin: 1.64rem 0 1rem;
      }
    }
  }


  .pulled-quote, q, blockquote {
    margin-left: -50%;
    width: 75%;
    font-size: 1.36rem;

    @include respond-to('medium') { margin-left: -40%; width: 60%; }
    @include respond-to('small') { margin-left: 0; width: 50%; padding-left: 0; }
    @include respond-to('huge') { margin-left: -30%; width: 60%; }
  }

	figure {
		margin: 1rem;
		margin-left: 0;
    text-align: left;
		float: left;
    width: 100%;
    box-shadow: $shadow;

    figcaption {
      margin: 0; padding: .5rem 1rem; background-color: $white; color: $grey;

      h2, h3, h4 { padding-top: 0;}

      p {padding-top: .36em;}
    }
	}

  .expert-feature{
    @extend %cf;
    position: relative;
    background-color: $white;
    margin-top: 2rem;

    img { float: left; width: 25%; }
    figcaption { float: left; width: 75%; padding: 1.5rem;}
    &:after {
      position: absolute; display: block; content: '';
      top: .5rem;
      right: .5rem;
      bottom: .5rem;
      left: .5rem;
      border: 2px solid rgba($black, .5);
    }
  }

	.pulled-media {
		display: block;
		margin: 1rem 1rem 1rem -50%;
    width: auto;
		min-width: 100%;

		img {
			background-color: $white;
			width: 100%;
		}

		.video {
			width: 100%;
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			overflow:
			hidden;

			iframe,
			object,
			embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		@include respond-to('medium') { margin-left: -36%; }
		@include respond-to('small') { margin-left: 0;}
	}
}

.gc__article-gallery {
	padding: 10px 0;

  .article-gallery__sizer, .article-gallery__item {
		width: (100% / 4);
		@include respond-to('medium') { width: (100% / 3); }
		@include respond-to('small') { width: (100% / 2); }
	}

	.article-gallery__item {
		border: .5rem solid rgba($white, 0);
		// transition: $transition;
		overflow: hidden;

		img {
			transition: $transition-l;
			transform: perspective(500px) translate3d(0px, 0px, 0px);
		}

		.preload & img { opacity: 0;}

		@include on-event {
			z-index: 11;
			background-color: $white;
			box-shadow: $shadow;

			img { transform: perspective(500px) translate3d(0px, 0px, 50px); }
		}
	}

  .article-gallery__item--video {
		cursor: pointer;
		width: (100% / 2);
    overflow: hidden;

		@include respond-to('medium') { width: (100% * (2/3)); }
		@include respond-to('small') { width: 100%; }

		&:before { display: block; content: ''; padding-bottom: 56.25%; }
		&:after {
			display: block; content: ''; position: absolute;
			top: 0px;
			left: 0px;
			bottom: 0px;
			right: 0px;
			background-image: url('../images/icon-play.svg');
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 25%;
      z-index: 99;
		}

		img {
			max-width: none; width: 110%; position: absolute;
			left: -1rem; right: -1rem; top: 50%;
			transform-origin: 50% 0%;
			transform: perspective(500px) translate3d(0, -50%, 0px);
		}

		@include on-event {
			img { transform: perspective(500px) translate3d(0, -55%, 0px) scale(1.1); }
		}
	}
}

// Featherlight customise
.featherlight .featherlight-content {padding: 0;border: 0;}
